.Education{

    & h3{
        font-size: 1.5rem;
    }

    & h4{
        font-size: 1.1rem;
        color: rgb(117, 116, 116);
    }
    
    & p{
        color: #5c2a80;
        font-size: 1rem;
        font-weight: 600;
    }
}