.Project{
    background: #6A3093;
    color: #FFF;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 22rem;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover{
        margin-top: -0.5rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            color: #FFF;
            font-size: 1.5rem;

            &:hover{
                color: #b753ff;
            }
        }
    }

    & .content h2{
        margin-bottom: 1rem;
    }

    & .content p{
        font-size: 1.1rem;
    }

    & footer{
        display: flex;
        align-items: center;
        margin-top: 2rem;

        & p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.8rem;
            margin-right: 1rem;
        }
    }
}