.Resume{
    max-width: 50%;
    margin: 3rem auto;

    & h1{
        color: #6a3093;
        font-size: 2.5rem;
    }

    & .intro{
        & header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            & a{
                background: #6a3093;
                border: 2px solid #6a3093;
                color: #FFF;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0.5rem 1.5rem;
                border-radius: 0.4rem;
                transition: all 1s;

                &:hover{
                    background: #FFF;
                    color: #6a3093;
                }
            }
        }

        & p {
            color: rgb(78, 78, 78);
            margin-top: 0.5rem;
        }

        & ul{
            max-width: 100%;
            margin-top: 1rem;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & li{
                display: flex;
                align-items: center;

                & i{
                    font-size: 0.7rem;
                    margin-right: 0.5rem;
                    color: #421d5c;
                }

                & p{
                    font-size: 1.1rem;
                    margin-bottom: 0.5rem;
                    color: #6a3093;
                }
            }
        }
    }
    
    & .experiences,
    & .education {
        margin-top: 5rem;
    }
}


@media(max-width: 1100px){
    .Resume {
        max-width: 70%;
    }
}


@media(max-width: 800px){
    .Resume {
        max-width: 80%;
    }
}

@media(max-width: 700px){
    .Resume {
        max-width: 75%;

        & h1 {
            font-size: 2rem;
        }

        & .intro {
            & header {
                & a {
                    font-size: 1rem;
                }
            }

            & p {
                font-size: 1.2rem;
            }

            & ul {
                max-width: 80%;
                margin-top: 1rem;
                list-style: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                & li {
                    display: flex;
                    align-items: center;

                    & i {
                        font-size: 0.7rem;
                        margin-right: 0.5rem;
                        color: #421d5c;
                    }

                    & p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 600px){
    .Resume {
        max-width: 80%;

        & h1 {
            font-size: 2rem;
        }

        & .intro {
            & header {
                & a {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media(max-width: 500px){
    .Resume {
        max-width: 90%;

        & .intro{
            & ul {
                max-width: 100%;
            }
        }
    }
}

@media(max-width: 330px){
    .Resume {
        max-width: 90%;

        & .intro{
            & header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                & h1{
                    font-size: 2.5rem;
                }

                & a {
                    margin-top: 0.5rem;
                }

                & p{
                    text-align: justify;
                }
            }

            & ul{
                grid-template-columns: 1fr;
            }
        }

        & .education {
            margin-top: 9rem;
        }
    }
}