.Home{
    background: #6a3093;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .content{
        max-width: 60%;
        margin: auto;
        
        & .img{
            max-width: 30%;
            margin: auto;

            & img{
                width: 100%;
                border-radius: 50%;
            }
        }
        
        & h1{
            color: #FFF;
            font-size: 3rem;
            text-align: center;
            margin: 3rem 0;
        }

        & .socialLinks{
            display: flex;
            justify-content: center;
            align-items: center;

            & a{
                display: block;
                color: #421d5c;
                font-size: 2.5rem;
                margin: 0 1rem;

                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}

