.Resources{
  max-width: 50%;
  margin: 3rem auto;

  & h1 {
    color: #6a3093;
    font-size: 3rem;
    font-weight: 700;
  }

  & ul{
    list-style: none;
    margin-top: 2rem;

    & li {
      margin-bottom: 3rem;

      & a{
        font-size: 1.5rem;
        font-weight: 700;
        display: block;
        color: #6a3093;

        &:hover{
          text-decoration: underline;
        }
      }

      & small{
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}

@media(max-width: 1100px){
  .Resources {
    max-width: 60%;
  }
}

@media(max-width: 900px) {
  .Resources {
    max-width: 75%;
  }
}

@media(max-width: 600px){
  .Resources {
    max-width: 85%;
    margin: 3rem auto;

    & h1 {
      font-size: 2rem;
    }

    & ul {

      & li {

        & a {
          font-size: 1.2rem;
        }

        & small {
          font-size: 1rem;
        }
      }
    }
  }
}

@media(max-width: 500px){
  .Resources {
    max-width: 90%;
  }
}
