.Navbar {
    background: #7f3caf;
    max-width: 100%;
    padding: 1.1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & a {
        display: block;
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.5rem 0.9rem;
        border-radius: 0.4rem;
        margin: 0 0.8rem;

        &:hover{
            background: #6a3093;
        }
    }

    & .active {
        background: #6a3093;
    }
}
