.Projects{
    max-width: 70%;
    margin: 2rem auto;

    & h1{
        color: #6a3093;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    & > section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }
}