*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7;
  height: 100%;
}

a{
  text-decoration: none;
  display: inline-block;
}

p{
  font-size: 1.2rem;
}


